<div class="container my-4">
  <div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-6 card p-3">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text" id="first-name"
              name="firstName"
                formControlName="firstName"
                class="form-control"
                [ngClass]="{'is-invalid':f['firstName'].errors && f['firstName'].touched}"
              >
              <div class="invalid-feedback" *ngIf="f['firstName'].errors?.['required'] && f['firstName'].touched ">
                First name is required
              </div>
              <div class="invalid-feedback" *ngIf="f['firstName'].errors?.['minlength']">
                First name must be at least 3 characters
              </div>
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="lastName" id="lastName"
              formControlName="lastName"
              class="form-control"
            >
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email"
            formControlName="email" class="form-control"
            [ngClass]="{'is-invalid': f['email'].errors && f['email'].touched}"
            >
            <div [hidden]="!f['email'].errors?.['required']" class="invalid-feedback">
              Email is required
            </div>

            <div [hidden]="!f['email'].errors?.['email']" class="invalid-feedback">
              Must be a valid email address
            </div>
          </div>

          <div class="form-group">
            <label for="">Passowrd</label>
            <input type="password" name="password" id="password"
            formControlName="password" class="form-control"
            [ngClass]="{'is-invalid':f['password'].errors && f['password'].touched}"
            >
            <div class="invalid-feedback" [hidden]="f['password'].touched && !f['password'].errors?.['required']">
              Password field is required
            </div>
            <div class="invalid-feedback" [hidden]="!f['password'].errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
          <div class="form-group">
            <label for="">Password Confirm</label>
            <input type="password" name="confirmpassword" id="confirmpassword"
            formControlName="confirmpassword" class="form-control"
            [ngClass]="{'is-invalid':f['confirmpassword'].errors && f['confirmpassword'].touched}"
            >
            <div class="invalid-feedback" [hidden]="!f['confirmpassword'].errors?.['required']">
              Password field is required
            </div>
            <div class="invalid-feedback"
            *ngIf="f['confirmpassword'].touched && f['confirmpassword'].getError('Mustmatch') != null"
            >
              Password didn't match
            </div>
          </div>


          <div>
            <button [disabled]="form.status ==='INVALID'" class="btn btn-block btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
